/*** sectioning elements ***/

@font-face {
    font-family: ParryHotter;
    src: url('../fonts/ParryHotter.ttf');
}

body {
  background-image: url('../img/bckg.png');
  background-attachment: fixed;
}

.classes{
  text-align: center;
}

header {

}

main {

}

footer {
 background-color: #4a0c0d;
}341e00

nav {

}
  .navbar {
    background-color: #4a0c0d;
  }

  .navbrand {
    color: #857;
    font-family: cursive;
  }

  .navbar-menu a:link,
  .navbar-menu a:visited {
    color: #fff;
    font-family: sans-serif;
  }

  .navbar-menu a:hover,
  .navbar-menu a:active {
    border-bottom: 3px sold #345332;
    text-decoration: none;
  }

}

section {

}

aside {

}


/**** content styles ***/

h1 {
  font-family: 'ParryHotter', cursive;
  float: left;
  color: #4a0c0d;
  text-align: center;
  line-height: 2.0;
}

h2 {
  color: #4a0c0d;
  font-family: 'Dancing Script', cursive;

}

h3 {
  font-family: 'Dancing Script', cursive;

}

h4 {

}

h5 {

}

h6 {

}

p {
  font-family: 'Arapey', serif;
}

footer p {
  color: #fff;
}

footer:link {
  color: #fff;
}

blockquote {

}

ol {
  font-family: 'Arapey', serif;
}

ul {
  font-family: 'Arapey', serif;
}

li {

}

table {
  border-collapse: collapse;
  font-family: 'Arapey', serif;
}

.wide {
    width: 100%;
}

caption {
  color: #aaaaaa;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}



/*** image styles ***/

img  {
 display: block;
 margin: 0 auto;
}

img.right {
  float: right;
  margin-right: 20px;
}

/*** link styles ***/

a:link {
 color: #4a0c0d;
}

a:visited {
 color: #4a0c0d;
}

a:hover {

}

a:active {

}
